<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div id="content">
            <section class="container active">
                <div class="blogs-content">
                    <div class="main-title">
                        <h2>{{ .Title }}<span class="bg-text">{{ .Title }}</span></h2>
                    </div>
                    <center>
                        {{ with .Params.featured_image }}
                        <img src="{{ . }}" alt="">
                            {{ end }}
                    </center>
                    {{ .Content }}
                </div>
            </section>
        </div>
        <div class="controls">
            <a href="/">
                <div class="control active-btn" data-id="home" >
                    <i class="fas fa-home"></i>
                </div>
            </a>
        </div>
        <div class="theme-btn">
            <i class="fas fa-adjust"></i>
        </div>
        <script src="/js/app.js"></script>
    </body>
</html>
