<section class="container" id="blogs">
    <div class="blogs-content">
        <div class="main-title">
            <h2>My <span>Blogs</span><span class="bg-text">My Blogs</span></h2>
        </div>
        <div class="blogs">
            {{ .Content }}
            {{ range .Paginator.Pages }}
            <div class="blog">
                <a href="{{ .RelPermalink }}">
                    {{ with .Params.featured_image }}
                    <img src="{{ . }}" alt="">
                    {{ end }}
                    <div class="blog-text">
                        <h4>
                            {{ .Title }}
                        </h4>
                        <p class=date>
                            {{ .Date.Format "January 2, 2006" }}
                        </p>
                        <p>
                            {{ .Summary }}
                        </p>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
